/*
Syntax error: Undefined variable: "$separator-color".
        on line 6 of /Users/assa/dart/TimeTracker/web/sass/theme/timigsTable.scss

1: /Users/assa/dart/TimeTracker/web/sass/theme/timigsTable.scss

Backtrace:
/Users/assa/dart/TimeTracker/web/sass/theme/timigsTable.scss:6
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/variable.rb:49:in `_perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `block in _perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `map'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/list.rb:71:in `_perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/script/node.rb:40:in `perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `block in created'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/bin/compass:23:in `load'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/bin/compass:23:in `<main>'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `eval'
/Users/assa/.rvm/gems/ruby-1.9.3-p448/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$separator-color\".\A         on line 6 of /Users/assa/dart/TimeTracker/web/sass/theme/timigsTable.scss\A \A 1: /Users/assa/dart/TimeTracker/web/sass/theme/timigsTable.scss"; }
