<div project-controller>

  <div class="row navigation" ng-if="ctrl.project != null">
    <div class="col-md-4">
      <a href="#/"><i class="fa fa-angle-left"></i> Projects</a>
    </div>
    <div class="col-md-4 text-center">
      {{ctrl.project.name}}
      &emsp;
      <span class="badge"><i class="fa fa-clock-o"></i>&emsp;{{ctrl.project.totalDuration|duration:'h:mm|&minus;'}} <span ng-if="ctrl.project.totalEstimate != null">/ {{ctrl.project.totalEstimate|floor}}:00</span></span>
    </div>
    <div class="col-md-4 text-right">
      <button type="button" class="btn btn-default btn-sm"
              ng-disabled="ctrl.project.deletedTasks.length == 0"
              ng-click="ctrl.showTasksBin()">
        <i class="fa fa-lg fa-trash-o"></i> {{ctrl.project.deletedTasks.length}}
      </button>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-if="ctrl.project != null">
      <div class="list-group tasks-list">
        <div ng-repeat="task in ctrl.project.tasks" 
             ng-class="{'active': ctrl.selectedTask == task}" 
             ng-click="ctrl.selectTask(task)"
             class="list-group-item selectable" draggable="true">
          <span class="fa-stack timer" ng-if="ctrl.activeTiming != null && ctrl.activeTiming.task == task">
            <i class="fa fa-circle-o fa-stack-1x"></i>
            <i class="fa fa-circle fa-stack-1x"></i>
          </span>
          <strong>{{$index+1}})</strong> {{task.name}}
          <span class="actions">
            &emsp;
            <!-- <a href=""><i class="fa fa-pencil"></i></a> editing is just not implemented yet -->
            <a href="" ng-click="ctrl.deleteTask(task)"><i class="fa fa-times"></i></a>
          </span>
          <span class="badge"><i class="fa fa-clock-o"></i>&emsp;{{task.totalDuration|duration:'h:mm|&minus;'}} <span ng-if="task.estimate != null">/ {{task.estimate|floor}}:00</span></span>
        </div>
        <div class="list-group-item">
          <form name="newTaskForm" class="form-horizontal" role="form" ng-submit="ctrl.createNewTask()">
            <div class="form-group">
              <label class="sr-only" for="newTaskNameBox">Task name</label>
              <div ng-class="{'col-sm-12': ctrl.newTask.name.length == 0, 'col-sm-7': ctrl.newTask.name.length > 0}">
                <input id="newTaskNameBox" class="form-control" type="text" ng-model="ctrl.newTask.name" placeholder="New Task" />
              </div>
              <div ng-if="ctrl.newTask.name.length > 0">
                <label class="col-sm-3 control-label" for="newTaskEstimateBox">Est. Duration</label>
                <div class="col-sm-2">
                  <input type="number" class="form-control" id="newTaskEstimateBox" ng-model="ctrl.newTask.estimate" placeholder="h"/>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="ctrl.newTask.name.length > 0">
              <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary"> <i class="fa fa-plus"></i> Add</button>
              </div>
            </div>                        
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-if="ctrl.selectedTask != null">
    
      <div class="jumbotron jumbotron-timer" ng-if="ctrl.activeTiming == null">
        <a class="pull-right btn btn-success btn-lg" style="margin-top: 9px" role="button" 
           ng-click="ctrl.startTimer()">
          <i class="fa fa-play"></i>&emsp;Start
        </a>
        <h1>00:00:00</h1>        
      </div>

      <div class="jumbotron jumbotron-timer" ng-if="ctrl.activeTiming != null && ctrl.activeTiming.task == ctrl.selectedTask">
        <a class="pull-right btn btn-danger btn-lg" style="margin-top: 9px" role="button"
           ng-click="ctrl.stopTimer()">
          <i class="fa fa-stop"></i>&emsp;Stop
        </a>
        <h1>{{ctrl.activeTiming.duration|duration:'hh:mm:ss'}}</h1>
      </div>
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Persona</th>
            <th>Durata (h)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="timing in ctrl.selectedTask.timings">
            <td>{{timing.date|date:'dd/MM/yyyy'}}</td>
            <td>{{timing.user.name}}</td>
            <td>{{timing.duration|duration:'hh:mm'}}</td>
          </tr>
          
          <tr>
            <td colspan="3">
              <form role="form" class="form-inline" ng-submit="ctrl.createNewTiming()">
                <div class="form-group">
                  <input type="date" class="form-control" id="dateBox" size="10" 
                    ng-model="ctrl.newTiming.date" required>  
                </div>
                <div class="form-group">
                  <select id="userBox" class="form-control" ng-model="ctrl.newTiming.user" required>
                    <option disabled selected value="">Scegli...</option>
                    <option ng-repeat="user in ctrl.users" ng-value="user">{{user.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="time" id="durationBox" 
                    class="form-control" ng-model="ctrl.newTiming.duration" placeholder="HH:MM" size="5" required>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Aggiungi</button>
                </div>          
              </form>        
            </td>
          </tr>
          
        </tbody>
      </table>   
      date: {{ctrl.newTiming.date}}, duration: {{ctrl.newTiming.duration}}, user: {{ctrl.newTiming.user}}
    </div>

  </div>
  
  <!-- tasksBinModal -->
  <div class="modal fade" id="tasksBinModal" tabindex="-1" role="dialog" aria-labelledby="tasksBinModalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="tasksBinModalTitle">Deleted Tasks</h4>
        </div>
        <div class="modal-body">
          <ul>
            <li ng-repeat="task in ctrl.project.deletedTasks">
              {{task.name}} <a ng-click="ctrl.restoreTask(task)">Restore</a>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <a class="btn btn-sm btn-danger" ng-click="ctrl.clearDeletedTasks()">Delete all permanently</a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
