<div projects-controller>

  <div class="row">

    <div class="col-md-3">
      <h2>Progetti</h2>

      <div class="list-group projects-list">
        <div ng-repeat="project in ctrl.projectsList" 
           ng-class="{'active': ctrl.selectedProject == project}"
           ng-click="ctrl.selectProject(project)"
           class="list-group-item selectable" > <!-- href="#/projects/{{project.id}}" -->
          {{project.name}}
        </div>
        <div class="list-group-item">
          <form name="newProjectForm" role="form" ng-submit="ctrl.createNewProject()">
            <input id="newProjectInput" type="text" ng-model="ctrl.newProjectName" placeholder="Nuovo Progetto" />
            <button ng-if="ctrl.newProjectName.length > 0" type="submit" class="btn btn-default"> <i class="fa fa-plus"></i> Aggiungi</button>
          </form>
        </div>
      </div>
    </div>

  </div>  

</div>
