<div signin-controller>

  <div class="row">

    <div class="col-md-12">
      <h2>Sign In</h2>

      <form class="form-inline" role="form" ng-submit="ctrl.signIn()">
        <div class="face-chooser">
          <div class="face inline" ng-class="{selected: ctrl.user == user}" 
               ng-repeat="user in ctrl.users" 
               ng-click="ctrl.user = user"
               ng-doubleclick="ctrl.signIn()">
            <img ng-src="{{user.avatarUrl}}"/>
            {{user.name}}
          </div>
        </div>
      
        <!--
        <select id="userBox" class="form-control" ng-model="ctrl.user" required>
          <option disabled selected value="">Scegli...</option>
          <option ng-repeat="user in ctrl.users" ng-value="user">{{user.name}}</option>
        </select>
        -->

        <div class="form-group" class="col-md-4">
          <select class="form-control" ng-model="ctrl.endpoint">
            <option ng-repeat="endpoint in ctrl.availableEndpoints" ng-value="endpoint">{{endpoint.name}} ({{endpoint.url}})</option>
          </select>
        </div>          
        <div class="form-group">
          <button type="submit" ng-disabled="ctrl.user == null" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign In</button>
        </div>          
      </form>

    </div>

  </div>  

</div>
