h2 {
  display: inline;
  font-size: 1em;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-size: 1.3em;
  padding: 10px;
  font-weight: normal;
  padding-left: 40px;
  position: relative;
  background-color: $toolbar-background-color;
  border-top: solid 1px $separator-color;
  line-height: 1.4em;
}