/* ANIMATIONS */
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


a[ng-click] {
  cursor: pointer;
}

a.link-sm {
  font-size: 0.9em;
}

.header {
  background-color: #565656;
  padding: 8px 10px;
  color: white;
}
.header h1 {
  font-size: 1.1em;
  font-weight: normal;  
  margin: 0;
}

.navigation {
  background-color: #f6f6f6;
  padding: 8px 10px;
  margin-bottom: 10px;
  line-height: 30px;
}

.list-group-item.selectable {
  cursor: pointer;
}

.list-group-item.active > .badge {
  color: #428bca;
  background-color: #fff;
}
.list-group-item > .actions {
  visibility: hidden;
  float: right;
}
.list-group-item.active > .actions,
.list-group-item:hover > .actions {
  visibility: visible;
}
.list-group-item.active > .actions > a {
  color: white;
}

.fa-stack.timer {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.fa-stack.timer > i.fa-circle {
  -webkit-animation: fadeInOut 1s infinite alternate;
  -moz-animation: fadeInOut 1s infinite alternate;
  -ms-animation: fadeInOut 1s infinite alternate;
  color: #428bca;
}
.list-group-item.active .fa-stack.timer > i.fa-circle {
  color: white;  
}
.fa-stack.timer > i.fa-circle-o {
  opacity: 0.2;
}

.jumbotron-timer {
  padding: 30px;
}
.jumbotron-timer h1 {
  margin: 0;
}