.face {
  text-align: center;
  padding-bottom: 5px;
  /*background-color: #f6f6f6; /**/
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.face.inline {
  display: inline-block;
}
.face img {
  width: 96px;
  height: 96px;
  border-radius: 48px;
  display: block;
  padding: 8px;
  margin: 0 auto;
}

.header .face {
  display: inline-block;
  padding-bottom: 0;
}
.header .face img {
  display: inline;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 0;
}

.face-chooser {
  margin-bottom: 15px;
}
.face-chooser .face {
  margin-left: 15px;
  opacity: 0.7;
  cursor: pointer;
  /*border: solid 1px transparent; /**/
  background-color: white;
  -webkit-transition: opacity 0.2s ease-out, background-color 0.2s ease-out, border-color 0.2s ease-out;
}
.face-chooser .face img {
}
.face-chooser .face:first-child {
  margin-left: 0;
}
.face-chooser .face.selected {
  opacity: 1;
  background-color: #f3f3f3;
  /*border: solid 1px #ccc; /**/
  /*color: white; /**/
}
.face-chooser .face.selected img {
}

/* ANIMATIONS */
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


a[ng-click] {
  cursor: pointer;
}

a.link-sm {
  font-size: 0.9em;
}

.header {
  background-color: #565656;
  padding: 8px 10px;
  color: white;
}
.header h1 {
  font-size: 1.1em;
  font-weight: normal;  
  margin: 0;
  line-height: 24px;
}

.navigation {
  background-color: #f6f6f6;
  padding: 8px 10px;
  //margin-bottom: 10px;
  line-height: 30px;
}

.fa-stack.timer {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.fa-stack.timer > i.fa-circle {
  -webkit-animation: fadeInOut 1s infinite alternate;
  -moz-animation: fadeInOut 1s infinite alternate;
  -ms-animation: fadeInOut 1s infinite alternate;
}
.fa-stack.timer > i.fa-circle-o {
  opacity: 0.2;
}

.face.timer {
  position: relative;
  button {
    padding: 0;
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    top: 0;
    left: 50%;
    margin-left: -32px;
    color: white;
    font-size: 1.5em;
    background-color: transparent;
    i {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  button:hover {
    i {
      display: inline-block;
    }
  }
  button:active {
    i {
      display: inline-block;
    }
  }
  
  circular-progress-bar {
    position: absolute;  
    height: 64px;
    width: 64px;
    left: 50%;
    margin-left: -32px;
    top: 0;
  }
  
  .counter {
    font-size: 0.8em;    
  }
  
  &.timer-start {
    button:hover { background-color: rgba($success-color, 0.5); }
    button:active { background-color: rgba($success-color, 0.9); }  
    img {
      padding: 2px;
      border: solid 6px $success-color;
    }
  }
  &.timer-stop {
    button {
      height: 50px;
      width: 50px;
      border-radius: 25px;
      top: 7px;
      background-color: rgba(white, 0.8);
      margin-left: -25px;
    
      color: darken($primary-color, 10%);      
    }
    button:hover span, button:active span { display: none }
  }
}