<!DOCTYPE html>

<html ng-app>
<head>
<meta charset="utf-8">
<title>TimeTracker</title>
<link rel="stylesheet" href="packages/bootjack/css/bootstrap.min.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body layout="hflex" justify="center">
  <div style="width: 1170px" layout="vflex">
    <div class="header" header-controller layout="hflex" align-items="center" justify="space-between">
      <h1>TimeTracker</h1>
      <div ng-if="ctrl.session.user != null">
        <div class="face">
          <img ng-src="{{ctrl.session.user.avatarUrl}}"/>
          <span ng-bind-template="{{ctrl.session.user.name}}"></span>
        </div>
        <button class="btn btn-xs" ng-click="ctrl.signOut()">Logout</button>
      </div>
    </div>
    <!-- maschera la sintassi di angular fino al termine del caricamento -->
    <ng-view grow="1" layout="vflex" align-items="stretch"></ng-view>
  </div>

  <script type="application/dart" src="timetracker.dart"></script>
  <script src="packages/browser/dart.js"></script>
</body>
</html>
